[opener]
nvim = [
  { run = 'nvim "$@"', block = true, desc = "Neovim", for = "unix" }
]
zathura = [
  { run = 'zathura "$@"', desc = "zathura", block = true, for = "unix" }
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open" },
]
feh  = [
	{ run = 'feh --scale-down "$@"', desc = "Open" },
]

[open]
rules = [
  { mime = "text/*", use = "nvim" },
  { mime = "application/pdf", use = "zathura" },
  { mime = "image/jpeg", use = "feh" },
  { mime = "image/png", use = "feh" },
  { mime = "*", use = "open" },
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
