@define-color foreground #ecd2ec;
@define-color background #0d121b;
@define-color cursor #ecd2ec;

@define-color color0 #0d121b;
@define-color color1 #9A7FC3;
@define-color color2 #AB89B6;
@define-color color3 #C299BD;
@define-color color4 #B390CE;
@define-color color5 #CDA2DD;
@define-color color6 #D2A8F2;
@define-color color7 #ecd2ec;
@define-color color8 #a593a5;
@define-color color9 #9A7FC3;
@define-color color10 #AB89B6;
@define-color color11 #C299BD;
@define-color color12 #B390CE;
@define-color color13 #CDA2DD;
@define-color color14 #D2A8F2;
@define-color color15 #ecd2ec;
